*{
    margin: 0%;
    padding: 0%;
}
#how{
    background-color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rrr {
    background-color: blue;
    height: 100vh;
}
#updates {
    background-color: green;
    height: 100vh;
}
#constant {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo > *{
    margin-left: 3vw;
}
#logo > p{
    font-size: 20px;
}
#nav-bar {
    padding: 1vw 0vh 1vw 0vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-bar > a{
    vertical-align: middle;
    font-size: 20px;
    margin: 0 2vh 0 2vh;
}
#header-img{
    display: flex;
    height: 6vh;
}
#video-holder{
    margin-bottom: 20vh;
    margin-top: 20vh;
}
video{
    height: 70vh;
    width: auto;
}
@media (max-width: 1024px){
    video{
        width: 90vw;
    }
}