*{
    margin: 0%;
    padding: 0%;
}
#how{
    background-color: whitesmoke;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rrr {
    background-color: blue;
    height: 100vh;
}
#updates {
    background-color: green;
    height: 100vh;
}
#header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo > *{
    margin-left: 3vw;
}
#logo > p{
    font-size: 20px;
}
#nav-bar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-bar > a{
    font-size: 20px;
    margin: 0 2vh 0 2vh;
    color: black;
    text-decoration: none;
    transition: 0.3s
}
#nav-bar > a:hover{
    color: green;
}
#header-img{
    display: flex;
    height: 6vh;
}
#video{
    margin-bottom: 20vh;
    margin-top: 20vh;
    height: 70vh;
    width: 124vh;
}
@media (max-width: 769px){
    #nav-bar > a{
        margin: 0 1vh 0 1vh;
    }
}
@media (max-width: 1024px){
    #video-holder{
        width: 90vw;
    }
}